body{
  background-color: #BAF6F6;
}

h1{
  color: #986D8E;
}

h3{
  color: #986D8E;

}

hr{
  border-style: none;
  border-top-style: dotted;;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
